<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MarketApp_lsn.Properties.Settings.market_dbConnectionString"
            connectionString="Data Source=SS-LENO01\SSLENO;Initial Catalog=market_db;Persist Security Info=True;User ID=Lessons;Password=1234;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>